.App {
  margin: 0;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.box-today {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  background-color: red;
  width: 450px;
  height: 350px;
}
.day{
height: 80px;
width: 60px;
background-color: grey;
margin: 25px;
}
.input {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.image-info{
display: flex;

}

.group-day{
  margin-top: -65px;
display: flex;
justify-content: center;
}